/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
font-family: 'Arial', sans-serif;
transition: background-color 0.3s ease;
}


body.dark {
background-color: #1f2937; 
color: white;
}


body {
background-color: #f9fafb;
color: #333; 
}
